 Lilian and Rahul's notes
    
Extract-----------------------

Extract: your original data sources and how the data was formatted (CSV, JSON, pgAdmin 4, etc).

Kaggle - https://www.kaggle.com/ikiulian/global-hospital-beds-capacity-for-covid19
Global Hospital Beds Capacity (for covid-19)
selected dataset "hospital_beds_USA_v1.csv"


Transform---------------------

Transform: what data cleaning or transformation was required.
 
convert csv to df
#read cvs as dataframe
us_beds_df = pd.read_csv("hospital_beds_USA_v1.csv")
us_beds_df

dropped columns
#out of 12 original columns drop all, except for state, lat, lng, type, beds, population, year
us_beds_df= us_beds_df.drop(columns=['country', 'county', 'measure', 'source', 'source_url'], axis = 1)
us_beds_df

filtered dataframe by year
 locate available hospital beds in 2019
us_beds_2019= us_beds_df.loc[us_beds_df['year']== 2019]
us_beds_2019

sum available hospital beds by state for 2019
#us_beds_count_df= us_beds_df[['state','beds','population']].groupby(['state']).sum()
state_beds_2019= us_beds_2019[['state', 'beds', 'population']].groupby(['state']).sum()
state_beds_2019

reset the index 
#reset index for sum of beds by state for 2019
indexed_us_beds_count_df= state_beds_2019.reset_index()
indexed_us_beds_count_df

Questions pending

beds refers to bed capacity per state
how many beds are being used?
add the number of beds per state
state groupby

extra - plot and heat map of beds per population by state
heat map of state populations
how many beds does each state have compare to population
trying to determine supply in demand per state, Rahul mentioned Montana example
    
Load-------------------------

Load: the final database, tables/collections, and why this was chosen.

In [1]:
pwd

'C:\\Users\\Lilia\\OneDrive\\Desktop\\Group Project ETL'

In [5]:
# Dependencies/ Libraries/ Packages
# Pandas is a object type dataframe package 
import pandas as pd
import os

Extract CSV into DataFrames

In [6]:
# Import/ Extract a datafile, dataset
# pd.read_csv("name of file")
# us_beds = pd.read_csv("hospital_beds_USA_v1.csv")
# print top 5 lines
# us_beds.head()

In [8]:
# Import/ Extract a datafile, dataset
# pd.read_csv("name of file")
us_beds_df = pd.read_csv("hospital_beds_USA_v1.csv")
us_beds_df

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
0,US,AK,aleutians east,63.588753,-154.493062,ICU,1000HAB,0.000000,3338,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...
1,US,AK,aleutians west,63.588753,-154.493062,ICU,1000HAB,0.000000,5784,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...
2,US,AK,anchorage,63.588753,-154.493062,ACUTE,1000HAB,2.182916,298225,2018,arcgis,https://services1.arcgis.com/Hp6G80Pky0om7QvQ/...
3,US,AK,anchorage,63.588753,-154.493062,ICU,1000HAB,0.244782,298225,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...
4,US,AK,anchorage,63.588753,-154.493062,OTHER,1000HAB,0.191131,298225,2019,arcgis,https://services1.arcgis.com/Hp6G80Pky0om7QvQ/...
...,...,...,...,...,...,...,...,...,...,...,...,...
5708,US,WY,uinta,43.075968,-107.290284,ACUTE,1000HAB,2.023316,20758,2018,arcgis,https://services1.arcgis.com/Hp6G80Pky0om7QvQ/...
5709,US,WY,uinta,43.075968,-107.290284,ICU,1000HAB,0.289045,20758,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...
5710,US,WY,uinta,43.075968,-107.290284,PSYCHIATRIC,1000HAB,8.815878,20758,2018,arcgis,https://services1.arcgis.com/Hp6G80Pky0om7QvQ/...
5711,US,WY,washakie,43.075968,-107.290284,ICU,1000HAB,2.181025,8253,2018,arcgis,https://services1.arcgis.com/Hp6G80Pky0om7QvQ/...
5712,US,WY,weston,43.075968,-107.290284,ICU,1000HAB,1.686104,7117,2018,arcgis,https://services1.arcgis.com/Hp6G80Pky0om7QvQ/...

In [11]:
# look up column datatypes
us_beds_df.dtypes

country        object
state          object
county         object
lat           float64
lng           float64
type           object
measure        object
beds          float64
population      int64
year            int64
source         object
source_url     object
dtype: object

Transform us_beds DataFrame

In [13]:
# Transform
# Drop/ Eliminate unnecessary columns
# out of 12 original columns drop all, except for state, lat, lng, type, beds, population, year
us_beds_df= us_beds_df.drop(columns=['country', 'county', 'measure', 'source', 'source_url'], axis = 1)
us_beds_df

     state        lat         lng         type      beds  population  year
0       AK  63.588753 -154.493062          ICU  0.000000        3338  2019
1       AK  63.588753 -154.493062          ICU  0.000000        5784  2019
2       AK  63.588753 -154.493062        ACUTE  2.182916      298225  2018
3       AK  63.588753 -154.493062          ICU  0.244782      298225  2019
4       AK  63.588753 -154.493062        OTHER  0.191131      298225  2019
...    ...        ...         ...          ...       ...         ...   ...
5708    WY  43.075968 -107.290284        ACUTE  2.023316       20758  2018
5709    WY  43.075968 -107.290284          ICU  0.289045       20758  2019
5710    WY  43.075968 -107.290284  PSYCHIATRIC  8.815878       20758  2018
5711    WY  43.075968 -107.290284          ICU  2.181025        8253  2018
5712    WY  43.075968 -107.290284          ICU  1.686104        7117  2018

[5713 rows x 7 columns]

In [15]:
# querry for all dataframes (all columns) but filtered by 'year'
us_beds_2019= us_beds_df.loc[us_beds_df['year']== 2019]
us_beds_2019

     state        lat         lng   type      beds  population  year
0       AK  63.588753 -154.493062    ICU  0.000000        3338  2019
1       AK  63.588753 -154.493062    ICU  0.000000        5784  2019
3       AK  63.588753 -154.493062    ICU  0.244782      298225  2019
4       AK  63.588753 -154.493062  OTHER  0.191131      298225  2019
7       AK  63.588753 -154.493062    ICU  0.000000         917  2019
...    ...        ...         ...    ...       ...         ...   ...
5702    WY  43.075968 -107.290284    ICU  0.367107       29964  2019
5703    WY  43.075968 -107.290284    ICU  0.000000       10037  2019
5705    WY  43.075968 -107.290284    ICU  0.224583       44527  2019
5707    WY  43.075968 -107.290284    ICU  0.261746       22923  2019
5709    WY  43.075968 -107.290284    ICU  0.289045       20758  2019

[2328 rows x 7 columns]

In [ ]:
# Jamie's recommendation first state then year
# state_us_beds_df[['state','beds','population']].groupby(['state']).sum()

In [16]:
# only keep population count from 2019
# us_beds_count_df= us_beds_df[['state','beds','population']].groupby(['state']).sum()
# us_beds_count_df

In [17]:
# sum beds by state for 2019
# us_beds_count_df= us_beds_df[['state','beds','population']].groupby(['state']).sum()
state_beds_2019= us_beds_2019[['state', 'beds', 'population']].groupby(['state']).sum()
state_beds_2019

            beds  population
state
AK      4.789014      966872
AL     11.967593     4731663
AR      8.403947     2583665
AZ      2.050268     6630442
CA      8.182707    38982847
CO      4.159082     4640885
CT      2.157418     5354022
DC      0.466990      672391
DE      0.558183      943732
FL     12.315425    20278447
GA     20.157662     9736487
HI      0.520208     1421658
IA      4.386061     1886498
ID      2.516173     1597117
IL      9.060001    11312822
IN     11.234091     5553596
KS      6.782206     2439525
KY     16.519195     3966829
LA      9.872175     4663461
MA      2.144799     6789319
MD      3.508960     5996079
ME     27.528036     2836317
MI     11.808355     9256726
MN      5.658129     4237839
MO     10.781061     5376886
MS     11.363654     2564095
MT      3.571003      609018
NC     15.006825    10038356
ND      1.800766      431894
NE      4.385605     1458310
NH      1.937659     1331848
NJ      5.342430     9103731
NM      2.960478     1620289
NV      1.748019     2873396
NY      8.382213    19164551
OH     11.948555    10208692
OK      7.896221     3473972
OR      3.407778     3658297
PA     14.260610    12790505
RI      0.720353     1056138
SC      7.950473     4843956
SD      2.378135      547780
TN     12.886517     6418018
TX     27.502458    25918960
UT      2.713359     3457743
VA     25.947822     8260121
VT      1.019483      377375
WA      2.495058     6083428
WI      8.461720     5361872
WV      8.690672     1436549
WY      2.163612      432677

In [19]:
# reset index for sum of beds by state for 2019
indexed_us_beds_count_df= state_beds_2019.reset_index()
indexed_us_beds_count_df

   state       beds  population
0     AK   4.789014      966872
1     AL  11.967593     4731663
2     AR   8.403947     2583665
3     AZ   2.050268     6630442
4     CA   8.182707    38982847
5     CO   4.159082     4640885
6     CT   2.157418     5354022
7     DC   0.466990      672391
8     DE   0.558183      943732
9     FL  12.315425    20278447
10    GA  20.157662     9736487
11    HI   0.520208     1421658
12    IA   4.386061     1886498
13    ID   2.516173     1597117
14    IL   9.060001    11312822
15    IN  11.234091     5553596
16    KS   6.782206     2439525
17    KY  16.519195     3966829
18    LA   9.872175     4663461
19    MA   2.144799     6789319
20    MD   3.508960     5996079
21    ME  27.528036     2836317
22    MI  11.808355     9256726
23    MN   5.658129     4237839
24    MO  10.781061     5376886
25    MS  11.363654     2564095
26    MT   3.571003      609018
27    NC  15.006825    10038356
28    ND   1.800766      431894
29    NE   4.385605     1458310
30    NH   1.937659     1331848
31    NJ   5.342430     9103731
32    NM   2.960478     1620289
33    NV   1.748019     2873396
34    NY   8.382213    19164551
35    OH  11.948555    10208692
36    OK   7.896221     3473972
37    OR   3.407778     3658297
38    PA  14.260610    12790505
39    RI   0.720353     1056138
40    SC   7.950473     4843956
41    SD   2.378135      547780
42    TN  12.886517     6418018
43    TX  27.502458    25918960
44    UT   2.713359     3457743
45    VA  25.947822     8260121
46    VT   1.019483      377375
47    WA   2.495058     6083428
48    WI   8.461720     5361872
49    WV   8.690672     1436549
50    WY   2.163612      432677

In [ ]:
# Extra Tranformation work - adding a plot map. if have the time, do a choropleth map. 
# Joe's recommendation , will need to create a key for mapbox
# refer to https://plotly.com/python/plotly-express/#maps

import plotly.express as px
px.set_mapbox_access_token(open(".mapbox_token").read())
df = px.data.carshare()
fig = px.scatter_mapbox(df, lat="centroid_lat", lon="centroid_lon",     color="peak_hour", size="car_hours",
                  color_continuous_scale=px.colors.cyclical.IceFire, size_max=15, zoom=10)
fig.show()